/list1/ex2/build/
/list1/ex3/nbproject/private/
/list1/ex3/build/
/list1/JavaApplication4/nbproject/private/
/list1/JavaApplication4/build/
/list1/ex4/nbproject/private/
/list1/ex4/build/
/list1/ex5/nbproject/private/
/list1/ex5/build/
/list1/ex6/nbproject/private/
/list1/ex6/build/
/list1/ex7/nbproject/private/
/list1/ex7/build/
/list1/ex8/nbproject/private/
