/list1/ex2/build/
/list1/ex3/nbproject/private/
/list1/ex3/build/
/list1/JavaApplication4/nbproject/private/
/list1/JavaApplication4/build/
/list1/ex4/nbproject/private/
/list1/ex4/build/
/list1/ex5/nbproject/private/
/list1/ex5/build/
/list1/ex6/nbproject/private/
/list1/ex6/build/
/list1/ex7/nbproject/private/
/list1/ex7/build/
/list1/ex8/nbproject/private/
/list1/ex9/nbproject/private/
/list1/ex8/build/
/list1/ex9/build/
/list1/ex10/nbproject/private/
/list1/ex10/build/
/list1/JavaApplication13/nbproject/private/
/list1/ex11/nbproject/private/
/list1/ex11/build/
/list1/ex12/nbproject/private/
/list1/ex12/build/
/list1/EX13/nbproject/private/
/list1/EX13/build/
/list1/ex14/nbproject/private/
/list1/ex14/build/
/list1/ex13/nbproject/private/
/mega_sena/mega_sena/nbproject/private/
/mega_sena/mega_sena/build/
